/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
* {
  font-family: 'Roboto', sans-serif;
}

.mat-display-3 {
  font: 300 56px/56px Roboto,"Helvetica Neue",sans-serif;
  font-size: 48px;
  margin: 10px;
  text-align: center;
}

.mat-typography h1 {
  padding:0px 20px;
  margin-top: 16px;
}

@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 600px goes here */
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }

  #checkboxes {
    display: flex;
    flex-direction: column;
  }
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}

mat-checkbox, .mat-radio-button, mat-form-field {
  margin: 5px 0px 5px 20px;
}

#options-card {
  margin: 20px auto;
  max-width: 550px;
}

#top-button {
  position: sticky;
  bottom: 20px;
  left: 93vw;
}

/* Bottom of contact finder */

#button-section {
  margin-top:20px;
}

#button-section button {
  margin-left: 20px;
}

/* Table */

p {
  margin: 30px 5px;
}

.mat-row {
  height: auto;
}

th:hover {
  color: cyan;
  cursor: pointer;
}

td.cell, th.cell {
  padding: 0 5px !important;
}

table {
  width: 100%;
}

/* Result Cards */

#card-results {
  margin-bottom: 20px;
  width: 250px;
}

.hydro, .hydro mat-expansion-panel, .hydro mat-expansion-panel-header {
  background: #e5ffff !important;
}

.silhydro, .silhydro mat-expansion-panel, .silhydro mat-expansion-panel-header {
  background: #c5e1a5 !important;
}

#card-results mat-expansion-panel-header {
  padding:0px;
  margin: 0px 16px;
}

#card-results .mat-expansion-panel-body {
  padding:0px !important;
  margin: 0px 16px;
}

#card-results p {
  margin: 0px 0px 5px 0px;
}

/* Footer */

app-footer {
  width: 100%;
  height: 60px;
}
