/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: black;
}

h1 {
  font-size: 96 px;
  color: white;
}

mat-card-title {
  padding:20px;
}

@media (max-width: 450px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }

  #checkboxes {
    display: flex;
    flex-direction: column;
  }
}

mat-checkbox, .mat-radio-button, mat-form-field {
  margin: 5px 0px 5px 20px;
}


mat-card {
  margin: auto;
  background: grey;
  max-width: 550px;
}

#button-section {
  margin-top:20px;
}

#button-section button {
  margin-left: 20px;
}

.mat-row {
  height: auto;
}

th:hover {
  color: cyan;
  cursor: pointer;
}

.mat-cell {
  min-width: 100px;
  max-width: 300px;
}

app-footer {
  width: 100%;
  height: 60px;
}

p {
  color: white;
  margin: 30px 5px;
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}

table {
  margin: 5px;
  width: 100%;
}

