/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
* {
  font-family: 'Roboto', sans-serif;
}

.mat-display-3 {
  font: 300 56px/56px Roboto,"Helvetica Neue",sans-serif;
  font-size: 48px;
  color: white;
  margin: 10px;
  text-align: center;
}

html {
  background-color: black;
}

.mat-typography h1 {
  padding:20px;
}

@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 600px goes here */
  mat-radio-group {
    display: flex;
    flex-direction: column;
  }

  #checkboxes {
    display: flex;
    flex-direction: column;
  }
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}

mat-checkbox, .mat-radio-button, mat-form-field {
  margin: 5px 0px 5px 20px;
}

mat-card {
  margin: 20px auto;
  background: grey;
  max-width: 550px;
}

/* Bottom of contact finder */

#button-section {
  margin-top:20px;
}

#button-section button {
  margin-left: 20px;
}

/* Table */

p {
  color: white;
  margin: 30px 5px;
}

.mat-row {
  height: auto;
}

th:hover {
  color: cyan;
  cursor: pointer;
}

td.mat-cell {
  border-right: 10px !important;
}

table {
  margin: 5px;
  width: 100%;
}

/* Footer */

app-footer {
  width: 100%;
  height: 60px;
}

